@page "{QuestionID:int}"
@model MScApp.Pages.Questions.DetailModel
@{
    ViewData["Title"] = "Question Detail";
}

<div class="card">
    <div class="card-header text-white bg-danger">
        <h2>Question Number : @Model.Question.ID</h2>
    </div>

    <div class="card-body">
        <div class="pb-1">

            <h5 class="m-0">
                Question :
            </h5>
            <br />
            @Html.Raw(Model.Question.QuestionBody)
        </div>
        <hr />
        <div>

            <h5 class="m-0">
                Answers :
            </h5>

            <br />
            @foreach (var answer in Model.Question.Answers)
            {
                <ul>
                    @if (answer.IsCorrect)
                    {
                        <li class="correctAnswerDetail">
                            <p>
                                @answer.AnswerBody
                                <i class="material-icons md-36">done_outline</i>
                            </p>
                        </li>
                    }
                    else
                    {
                        <li>
                            <p>@answer.AnswerBody</p>
                        </li>
                    }
                </ul>
            }
        </div>
    </div>

    <div class="card-footer">
        <strong>Question Type : </strong>@MScApp.Core.QuestionTypeHelper.GetTestCategoryTitle(Model.Question.QuestionTypeID)
    </div>

    <a class="btn btn-success" asp-page="./List">All Questions</a>

</div>

