@page
@model MScApp.Pages.Questions.ListModel
@{
    ViewData["Title"] = "Question List";
    int questionNumber = 1;
}
@if (Model.Message != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<jumbotron class="text-center">
    <h1 class="display-4">Questions</h1>
    <hr class="my-4">
    <div>
        <a asp-page="./Edit" class="btn btn-lg btn-success"> Add New </a>
    </div>
</jumbotron>


@foreach (var question in Model.Questions)
{
    if (!question.IsDeleted)
    {
        <div class="card m-4">
            <div class="card-header text-white bg-danger">
                <h3>Question @questionNumber</h3>
            </div>
            <div class="card-body">
                <div class="pb-3">@Html.Raw(@question.QuestionBody)</div>

                <div class="pb-3">
                    <label><strong>Answers : </strong></label>
                    <select class="custom-select">
                        @foreach (var answer in question.Answers)
                        {
                            <option readonly value=@answer.AnswerBody>@answer.AnswerBody</option>
                        }
                    </select>
                </div>

                <div class="pb-3">
                    <strong>Question Type : </strong>@MScApp.Core.QuestionTypeHelper.GetTestCategoryTitle(question.QuestionTypeID)
                </div>
            </div>
            <div class="card-footer">
                <a class="btn btn-lg" asp-page="./Detail" asp-route-QuestionID="@question.ID"data-toggle="tooltip" data-placement="bottom" title="Question Details">
                    <i class="material-icons md-36">zoom_in</i>
                </a>
                <a class="btn btn-lg" asp-page="./Edit" asp-route-QuestionID="@question.ID" data-toggle="tooltip" data-placement="bottom" title="Edit Question">
                    <i class="material-icons md-36">create</i>
                </a>
                <a class="btn btn-lg" asp-page="./Delete" asp-route-QuestionID="@question.ID" data-toggle="tooltip" data-placement="bottom" title="Delete Question">
                    <i class="material-icons md-36">delete</i>
                </a>
            </div>
        </div>
    }
    questionNumber++;
}