@page
@model MScApp.Pages.Questions.ListModel
@{
    ViewData["Title"] = "Question List";
}

<h1>Questions</h1>

@foreach (var question in Model.Questions)
{
    if (!question.IsDeleted)
    {
        <div class="card m-4">
            <div class="card-header">
                <h3>Question @question.ID</h3>
            </div>
            <div class="card-body">
                <span><strong>Question: </strong>@question.QuestionBody</span>
                <br />
                <span>
                    <label><strong>Answers : </strong></label>

                    <select class="btn btn-outline-primary">

                        @foreach (var answer in question.Answers)
                        {
                            <option value=@answer.AnswerBody>@answer.AnswerBody</option>
                        }
                    </select>
                </span>
                <br />
                <span><strong>Question Type : </strong>@MScApp.Core.QuestionTypeHelper.GetTestCategoryTitle(question.QuestionTypeID) </span>
            </div>
            <div class="card-footer">
                <a class="btn btn-lg" asp-page="./Detail" asp-route-QuestionID="@question.ID">
                    <i class="material-icons md-36">zoom_in</i>
                </a>
                <a class="btn btn-lg" asp-page="./Edit" asp-route-QuestionID="@question.ID">
                    <i class="material-icons md-36">create</i>
                </a>
                <a class="btn btn-lg" asp-page="./Delete" asp-route-QuestionID="@question.ID">
                    <i class="material-icons md-36">delete</i>
                </a>
            </div>
        </div>
    }
}

<a asp-page="./Edit" class="btn btn-primary"> Add New </a>

<div>

</div>

