@page
@model MScApp.Areas.Identity.Pages.Account.BulkRegisterModel
@{
    if (Model.Message != null)
    {
        <div class="alert alert-success alert-dismissible fade show" role="alert">
            @Model.Message
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    }
}
<div class="jumbotron">
    <form enctype="multipart/form-data" method="post">
        <div>
            <h1 class="display-4">Bulk User Upload</h1>
            <p class="lead">
                Upload a file in csv format, please ensure the headings on the csv are:
            </p>
            <p class="lead">
                ID, Email, Password, PhoneNumber, FirstName, LastName, Address, City, PostCode, Country
            </p>
            <div class="pb-2">
                <input asp-for="@Model.UserFile" type="file">
                <span asp-validation-for="@Model.UserFile"></span>
            </div>
        </div>
        <input asp-page-handler="Upload" class="btn btn-success" type="submit" value="Upload" />
    </form>
</div>

<div>
    <h3>Existing AppUsers</h3>
    <table id="appUsersTable" class="table table-sm">
        <thead class="tableHeader">
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
                <th>Email</th>
                <th>Role</th>
                <th class="text-center">Manage AppUser</th>
                <th class="text-center">Delete AppUser</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var user in Model.AppUsers)
            {
                if (!user.IsDeleted)
                {
                    <tr>
                        <td>@user.Id</td>
                        <td>@user.FirstName</td>
                        <td>@user.LastName</td>
                        <td>@user.Email</td>
                        <td>
                            @if (user.IsAdmin)
                            {
                                <p>Admin</p>
                            }
                            else
                            {
                                <p>Applicant</p>
                            }
                        </td>
                        <td class="text-center">
                            <a class="btn btn-lg" asp-page="./AppUserDetail" asp-route-UserID="@user.Id" data-toggle="tooltip" data-placement="bottom" title="Edit AppUser">
                                <i class="material-icons md-36">zoom_in</i>
                            </a>
                        </td>
                        <td class="text-center">
                            <a class="btn btn-lg" asp-page="./AppUserDelete" asp-route-UserID="@user.Id" data-toggle="tooltip" data-placement="bottom" title="Delete AppUser">
                                <i class="material-icons md-36">delete</i>
                            </a>
                        </td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>
<script>
    $(document)
        .ready(function () {
            $('#appUsersTable').DataTable();
        });
</script>