@page "{TestID:int}"
@model MScApp.Pages.ApTest.Pages.TestApplicantManageModel
@{
    ViewData["Title"] = "Assign Users";
}
@if (Model.Message != null)
{
    <div class="alert alert-success alert-dismissible fade show" role="alert">
        @Model.Message
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
}

<h3 class="p-2">Editing Users For: <strong>@Model.Test.TestName</strong></h3>
<div class="alert alert-info">

    <h5><strong>Test Date : </strong></h5> <h6>@Model.Test.Date.ToString("dddd, dd MMMM yyyy")</h6>
    <h5><strong>Test Time : </strong></h5><h6>@Model.Test.Time.ToString("hh: mm tt")</h6>
</div>

<form method="post">
    <input type="hidden" asp-for="@Model.Test.ID" />
    <table asp-for="@Model.Test.AppUserTests" id="testApps" class="table table-hover">

        <thead>
            <tr>
                <th>App User ID</th>
                <th>Name</th>
                <th>Email</th>
            </tr>
        </thead>
        <tbody>
            @for (int i = 0; i < Model.Applicants.Count; i++)
            {
                if (!Model.Applicants[i].IsAdmin)
                {
                    <tr class="@(@Model.IsUserAssignedToTest(Model.Applicants[i].Id, Model.Test.ID) ? "selected" : "")">
                        <td>
                            <label>
                                @Model.Applicants[i].Id
                                <input type="checkbox" class="userCheckbox" id="appsCheckbox" name="userCheckboxes" value="@Model.Applicants[i].Id" checked="@Model.IsUserAssignedToTest(Model.Applicants[i].Id, Model.Test.ID)" />
                            </label>
                        </td>
                        <td>
                            @Model.Applicants[i].FirstName @Model.Applicants[i].LastName
                        </td>
                        <td>@Model.Applicants[i].Email</td>
                    </tr>
                }
            }
        </tbody>
    </table>
    <button type="submit" class="btn btn-primary">Save</button>
    <a asp-page="TestList" class="btn btn-danger">Cancel</a>
</form>

<script>
    $(document)
        .ready(function () {
            $('#testApps tbody').on('click', 'tr', function () {
                if (!$(this).hasClass('selected')) {
                    $(this).find("#appsCheckbox").prop("checked", true);
                    $(this).addClass('selected');
                }
                else {
                    $(this).find("#appsCheckbox").prop("checked", false);
                    $(this).removeClass('selected');
                }
            });
        });
</script>



